{
  "accountName": "your_steam_username",
  "sharedSecret": "",
  "games": [
    {
      "appId":221410,
      "name":"Steam for Linux"
    },
    {
      "appId":730,
      "name":"Counter Strike 2"
    },
    {
      "appId":2073620,
      "name":"Arena Breakout: Infinite"
    }
  ],
  "password": "your_steam_password",
  "customStatus":"my custom status"
}