{
  "accounts": [
    {
      "username": "your_username",
      "password": "your_password",
      "games": [730, 440],
      "targetHours": {
        "730": 100
      },
      "status": "Online",
      "customGame": "Farming...",
      "enableLogging": false
    }
  ],
  "loginDelaySeconds": 5
}
